CDF_PROJECT=<YOUR PROJECT TEST NAME>

# Client Ids and Client Secrets are identifiers for App registrations/Service Principals
IDP_CLIENT_ID=<CLIENT ID FOR TEST ADMIN TK APP>
IDP_CLIENT_SECRET=<CLIENT SECRET VALUE FOR TEST ADMIN TK APPs SECRET>

DATA_DEVELOPER_SOURCE_ID=<OBJECT ID FOR TEST DATA DEVELOPER GROUP>

DATA_PIPELINE_OEE_CLIENT_ID=<CLIENT ID FOR TEST DATA PIPELINE OEE APP>
DATA_PIPELINE_OEE_CLIENT_SECRET=<CLIENT SECRET VALUE FOR TEST DATA PIPELINE OEE APPs SECRET>
DATA_PIPELINE_OEE_SOURCE_ID=<OBJECT ID FOR TEST DATA PIPELINE GROUP>

ICAPI_EXTRACTORS_CLIENT_ID=<CLIENT ID FOR TEST ICAPI EXTRACTORS APP>
ICAPI_EXTRACTORS_CLIENT_SECRET=<CLIENT SECRET VALUE FOR TEST ICAPI EXTRACTORS APPs SECRET>
ICAPI_EXTRACTORS_SOURCE_ID=<OBJECT ID FOR TEST ICAPI EXTRACTORS GROUP>

# These variables are hardcoded to the Bootcamp IdP
LOGIN_FLOW=client_credentials
CDF_CLUSTER=westeurope-1
IDP_TENANT_ID=16e3985b-ebe8-4e24-9da4-933e21a9fc81 # All bootcamp projects share the same tenant.
IDP_TOKEN_URL=https://login.microsoftonline.com/16e3985b-ebe8-4e24-9da4-933e21a9fc81/oauth2/v2.0/token